---
layout: default
---

<div id="rendering-mask"></div>

<div class="body">
	
	<div class="archive">
		
		<!-- <h2 id="mission-statement" class="archive-year" style="margin-bottom:1.25rem;">Mission...</h2> -->
		<!-- <p style="color: #333; font-style: italic;">My mission is to help others recognize, develop and use their God-given abilities to grow in goodness, love and compassion.</p> -->
		<p style="color: #333; margin-bottom: 3em; font-style: italic;">My mission is to help others recognize, develop and use their God-given abilities to grow in goodness, love and compassion.</p>
		
    		{% for post in site.posts %}
    			{% assign currentdate = post.date | date: "%Y" %}
    			{% if currentdate != date %}
    				{% unless forloop.first %} {% endunless %}
    				<h2 id="y{{post.date | date: "%Y"}}" class="archive-year">{{ currentdate }}</h2>
    				{% assign date = currentdate %}
    			{% endif %}
    			<div class="archive-item">
    				<span class="archive-emoji">{{ post.categories }} &nbsp;&nbsp;&nbsp;</span>
    				<span class="post-date archive-date">{{ post.date | date: "%B %e, %Y" }}</span>
    				<a href="{{ site.baseurl }}{{ post.url }}" class="archive-title">
    					{{ post.title }}
    				</a>
    			</div>
    			{% if forloop.last %}
    				<!-- </ul> -->
    			{% endif %}
		{% endfor %}
	</div>
</div>
    
    
    <!-- {% for post in site.posts %}
      <div class="archive-item">
        <span class="archive-emoji">{{ post.categories }} &nbsp;&nbsp;&nbsp;</span>
        <span class="post-date archive-date">{{ post.date | date: "%B %e, %Y" }}</span>
        <a href="{{ site.baseurl }}{{ post.url }}" class="archive-title">
          {{ post.title }}
        </a>
      </div>
    {% endfor %}
  </div>
</div> -->

{% include analytics.html %}
    
<script src="/js/jquery-2.0.0.min.js"></script>
