---
layout: default
---

<div class="body">
	
	<!-- <div class="archive"> -->
		
		<!-- <h2 class="archive-year" style="color: #333; margin-top: .5rem;">David R. Muench</h2>
		<p class="mission">My mission is to help others recognize, develop and use their God-given abilities to grow in goodness, love and compassion.</p> -->
		<!-- <p class="mission-secondary" style="color: #888;">Through utmost faith...</p>
		
		<hr> -->
		
    		{% for post in site.posts %}
    		
    			<div class="archive-item">
    				<!-- <h2 id="{{post.title}}" class="archive-year date-emoji" style="color: #333;">{{ post.title }}</h2> -->
    				<span class="post-date" style="font-size: 4rem; width: 100%; text-align: center;"><!-- {{ post.date | date: "%B %e, %Y" }} --><span class="date-emoji">{{ post.categories }}</span></span>
    				<span class="post-date" style="font-size: 2rem; width: 100%; text-align: center; color: #333; font-weight: bold;">{{ post.title }}</span>
    				<div class="description">{{ post.content }}</div>
    			</div>
    			
    			<hr style="width: 100%; background-color: #f2f2f2;">
    		
    		{% endfor %}
    		
	<!-- </div> -->
</div>

{% include analytics.html %}
    
<script src="/js/jquery-2.0.0.min.js"></script>
