---
layout: default
---

<div class="body">
	
	<div class="archive">
		
		<!-- <div class="archive-item">
    			<span class="post-date" style="font-size: 4rem; width: 100%; text-align: center;"><span class="date-emoji">:grinning:</span></span>
    			<span class="post-date" style="font-size: 2rem; width: 100%; text-align: center; font-weight: bold;">David R. Muench</span>
    			<div class="description">Information Architect</div>
    		</div>
    		
    		<hr style="width: 100%; background-color: #e0e0e0;">
		
    		{% for post in site.posts %}
    		
    			<div class="archive-item">
    				<span class="post-date" style="font-size: 4rem; width: 100%; text-align: center;"><span class="date-emoji">{{ post.categories }}</span></span>
    				<span class="post-date" style="font-size: 2rem; width: 100%; text-align: center; font-weight: bold;">{{ post.title }}</span>
    				<div class="description">{{ post.date | date: "%B %e, %Y" }}</div>
    			</div>
    			
    			<hr style="width: 100%; background-color: #e0e0e0;">
    			
    		{% endfor %} -->
    		
    		{% for post in site.posts %}
  			{% assign currentdate = post.date | date: "%Y" %}
  			{% if currentdate != date %}
    				<h2 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>
    				{% assign date = currentdate %}
  			{% endif %}
  			<div class="archive-item">
  				<span class="date-emoji">{{ post.categories }} &nbsp;&nbsp;</span>
  				<a href="{{ post.url }}" class="archive-title">{{ post.title }}</a>
  				<span class="post-date archive-date">{{ post.date | date: "%B %e, %Y" }}</span>
  			</div>
  		{% endfor %}
    		
	</div>
</div>

{% include analytics.html %}
    
<script src="/js/jquery-2.0.0.min.js"></script>
